body {
    font-family: Arial, sans-serif;
    background-color: #2F3331;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    flex: 1;
}

.left-column {
    background-color: #2F3331;
}

.right-column {
    background-color: #2F3331;
}

.responsive-image {
    width: 100%;
    height: auto;
    display: block;
}

.form-container {
    margin: 30px;
    padding: 10px;
    background-color: #edf0ef;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-label {
    flex: 1;
    margin-right: 10px;
    text-align: right;
}

.form-input {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-button {
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #0056b3;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.im-fell-english-sc-regular {
    font-family: "IM Fell English SC", serif;
    font-weight: 400;
    font-style: normal;
    color: #edf0ef;
  }

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}
th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
}
td {
    padding: 10px;
    /* border-radius: 10px; */
}
tr {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
    color: #ffffff;
}
  

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .column {
        flex: 1 1 100%;
    }
}