<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>B&B Manor</title> 
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Creepster&family=IM+Fell+English+SC&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
  <h1 class="im-fell-english-sc-regular">Booking confirmed</h1>
  <a href="/">Booking form</a>
</body>
</html>